body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

#galton-board {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: #fff;
  border: 2px solid #000;
}